<div class="container content-container">
  <div class="col-lg-6 col-md-6 col-sm-12 budget-card">
       <h2>Your Budget</h2>
       <div class="budget-overview">
           <div class="budget-categories">
               <ul>
                   <li><p>Category 1</p></li>
                   <li><p>Category 2</p></li>
                   <li><p>Category 3</p></li>
                   <li><p>Category 4</p></li>
                   <li><p>Category 5</p></li>
               </ul>
           </div>
           <div class="budget-stats">
              <div class="income">
                   <h4>Income:</h4>
                   <p id="income"></p>
              </div>
              <div class="expenses">
                <h4>Expenses:</h4>
                <p id="expenses"></p>
              </div>
           </div>
       </div>
  
  
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-12 tips-card">
    <h2>Savings Tips</h2>
  </div>
</div>

<div class="container content-container">
    <div class="col-lg-12 col-md-12 col-sm-12 budget-card">
        <h2>Spending History</h2>
        <div class="data-tables">
            <table id="dataTable" class="table table-responsive-md btn-table" >
                <thead class="">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <button type="button" class="update-button btn btn-sm m-0" id="update-button">update</button>
                            <button type="button" class="delete-button btn btn-sm m-0" id="delete-button">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>
                            <button type="button" class="update-button btn btn-sm m-0" id="update-button">update</button>
                            <button type="button" class="delete-button btn btn-sm m-0" id="delete-button">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>
                            <button type="button" class="update-button btn btn-sm m-0" id="update-button">update</button>
                            <button type="button" class="delete-button btn btn-sm m-0" id="delete-button">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    
    
    </div>
  </div>
