/* ============================= GLOBAL =============================== */
body {
    background-color: #F4F4F4;
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}


h1, h2, h3, h4, p, button {
    color: #040130;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}
h2 {
    font-weight: 700;
    font-size: 30px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
}
h4 {
    font-weight: 500;
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 14px;
}

footer {
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    max-height: 10vh;
    line-height: 50px;
    background-color: #040130;

}

.row {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
}


/* ============================= HEADER =============================== */
.savvie-nav-bar {
    background-color: #040130;
    height:10vh;
    padding: 10px 50px 0px 50px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.logo-image {
    max-width: 120px;
}

.settings-icon {
    max-width: 25px;
}

.nav-link {
    padding-left: 50px!important;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
}


/* ============================= FOOTER =============================== */

.home-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 10vh;
    line-height: 50px;
    background-color: #040130;
}

.footer-p {
    color: #ffffff!important;
    font-size: 12px;
    margin-bottom:0px;
    padding-left: 50px;
}

/* ============================= SIGN IN PAGE =============================== */
.sign-in {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.sign-in-left {
    display: flex;
    align-items: center;
    align-content: center;
    width: 50vw;
}

.sign-in-logo {
    margin: 0 auto;
    top: 50%;
}

.sign-in-right {
    width: 50vw;
    background-image:
    linear-gradient(
      to top right, 
      #00A8C5, #FFFF7E
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sign-in-form {
    text-align: center;

}

.sign-in-form input, .sign-up-form input {
    min-width: 350px;
    min-height: 50px;
    color: #040130!important;
    border: none;
    box-shadow: 4px 4px 8px 0px rgba(68,68,68,0.2);

}



.sign-in-button {
    background-color:#040130;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border:none;
    margin: 3px;
    font-size: 25px;
    font-weight: 500;
}


/* ============================= CONTENT CONTAINERS =============================== */

/* Containers */
.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 50px 20px 50px;
}

.left-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-right: 10px; */
    overflow: hidden;
    padding-right: 10px;
}


.right-content {
    width: 50%;
    height: 100%;
    /* padding-left: 10px; */
    overflow: hidden;
    padding-left: 10px;
}

.top-content {
    margin-bottom: 20px;
}

.bottom-content {
    margin-top: 20px;
    /* padding-bottom: 30px; */
}
.budget-card {
    background-color: #fff;
    box-shadow: 4px 4px 8px 0px #ccc;
    overflow: hidden;
    height: 50%;
}

.tips-card {
    background-image:
    linear-gradient(
      to top right, 
      #00A8C5, #FFFF7E
    );
    height: 50%;
    box-shadow: 4px 4px 8px 0px #ccc;
}


/* ============================= BUDGET PAGE =============================== */


.your-budget {
    padding: 30px;
}

.total-budget-income {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.budget-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.spending-history {
    margin-top: 20px;
    padding: 30px;
}

/* Budget Table */
.table {
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #040130
}

/* Budget Info */
.budget-overview {
    display: flex;
    justify-content: space-around;
}

.income, .expenses, .budget-categories {
    padding: 20px;
}

.update-button, .delete-button {
    color:#ffffff;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border:none;
    margin: 3px;
}

.update-button {
    background-image:
    linear-gradient(
      to top right, 
      #00A8C5, #FFFF7E
    );
}

.delete-button {
    background-image:
    linear-gradient(
      to top right, 
      #ED1C24, #FCEE21
    );
}

.modal-delete-button {
    background-image:
    linear-gradient(
      to top right, 
      #ED1C24, #FCEE21
    );
    color:#ffffff;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    border:none;
    margin: 3px;
}
/* ============================= HOME PAGE =============================== */

/* FORM */
form {
    margin: 0 auto;
    text-align: center;
    /* padding-top: 30px; */
}

.expense-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 70px;
    height: 100%;
    width: 100%;
}

#new-transaction-form {
    padding-top: 30px;
}
.success-alert {
    padding:30px;
    text-align: center;
}

.add-new-button {
    background-color:#040130;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border:none;
    margin: 3px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.right-block {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    width: 100%;
    padding: 30px;

}

.budget-totals {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.total-income {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image:
    linear-gradient(
      to top right, 
      #00A8C5, #FFFF7E
    );
    color: #ffffff;
    padding: 20px;
    width: 50%;
}

.totals {

    align-content: center;
    margin: 0 auto;
}


/* ============================= CHART =============================== */
.chart--container {
	height:100%;
	width:100%;
    min-height:300px;
    overflow: hidden;
    margin-bottom: -100px;

}

.hide-extra-chart {
    overflow: hidden;
}

.zc-ref { 
    display:none; 
    width: 100%;
    overflow: hidden;
}

.savings-tips #myChart {
    width:100%;
    height:100%;
    min-height: 200px;
    margin: 0 auto;
  }

/* ============================= ACCOUNT SETTINGS =============================== */
#edit-settings {
    display: none;
}

.user-info, .budget-info {
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
}

.user-settings, .budget-settings {
    padding-top: 20px;
    padding-left: 50px;
}

.settings-block {
    width: 50%;
    overflow-x: hidden;
    padding-right: 10px;
    /* height: 90vh; */

}

.settings-header {
    display: flex;
    justify-content: space-between;
}

.edit-button {
    background-color:#040130;
    color:#ffffff;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border:none;
    margin: 3px;
}

.content-padding {
    padding: 30px;
}
.settings-edit-form {
    width: 50%;
    /* height: 90vh; */
    /* padding-left: 10px; */
    overflow-x: hidden;
    padding-left: 10px;
}


label {
    padding-right: 0px!important;
    text-align: right;
    font-size: 12px!important;
}

.settings-form {
    padding: 0px 20px 0px 20px;
}
.settings-form input {
    font-size: 12px!important;
}

.settings-form h3 {
    text-align: left!important;
    padding: 10px 0px 10px 0px;
}

.settings-form form {
    padding-top: 0px!important;
}

.incomeClass {
    color: green;
}